<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<appSettings>
  <!-- simulation time in minutes-->
  <add key="sim_time" value="120"/>
  <!-- in sec-->
  <add key="samples_fx" value="30"/>
  <!-- Ssampling intervals in seconds-->
  <add  key="sample_int" value ="10"/>
  <add key="use_rand_sample_int" value="false"/>
  <add key="min_sample_int" value="2"/>
  <add key ="max_sample_int" value="15"/>
  <!--0: use assign threshold algorithm where the BS station send assign-threshold packet..,  , -->
  <!--1: only guassian window,  , -->
  <!--2: constant , the value in threshold_en field (see above),  , -->
  <!--3: random  , between 20-40 non applicable-->
  <add key="eng_threshold_method" value="1"/>
  <!-- Enable 1 disable 0: the algorithm for load balancing the charge requests.-->
  <add key ="enable_load_balance_alg" value="1"/>
<!-- when you set the en_threshold_method to constant-->
  <add key="eng_threshold_constant" value="40" />
  <add key ="layers" value="7"/>
  <add key="eng_consumption" value="0.0200"/>
  <add key="com_range" value="30"/>
  <add key ="tx_rx_packet_eng" value="0.01"/>
  <add key ="charge_rate" value="1.5"/>
  <add key ="alpha" value="0.45"/>
  <add key ="n_nodes" value ="50"/>
  <add key ="net_size_width" value="1000"/>
  <add key ="net_size_length" value="1000"/>
  <add key ="sensor_node_battery_cap" value="100"/>
  <add key="remaining_engery" value="44"/>
  <add key ="mobile_charger_battery_cap" value ="12000"/>
  <!--0 disable , 1 enable-->
  <add key="enable_sleep_mode" value="0"/>
  <add key ="sleep_mode_eng" value="0.0003"/>
  <!-- Number of chargers to add-->
  <add key="mc_count" value="4"/>
  <add key="base_station_id" value="BS_1"/>
  <!-- The timer interval in which the node will send data to BS periodically -->
  <!-- the time is between start-end in random way. both values in seconds-->
  <add key="net_timer_time_range_start" value ="160"/>
  <add key="net_timer_time_range_end" value ="320"/>
  <add key ="max_link_len" value ="80"/>
</appSettings>
</configuration>